
<div class="content_item">
		  <h1>Melt Calculator</h1> 
	      <p>instructional line, or maybe a really cool internet meme. or maybe even just a full nude self portrait of myself.</p>
          <div class="content_container">
		    <p>
	      		<input type="text" value="what" /><br />
	      		<input type="text" value="current spot" /><br />
	      		<input type="text" value="how many" /><br />
	      		<!--<input type="text" />--><br />
	      		<input type="text" value="submit" /><br />
	      </p>
		  <p>total value = $X.00</p>
		  </div>
          <div class="content_container">
          	<h2>Current Pricing</h2>
		    <p class="price-i">
		    	Copper: $3.00<br />
		    	Silver: $32.00<br />
		    	Palladium: $400.00<br />
		    	Gold: $1650.00<br />
		    	Platinum: $1850.00<br />
		    	Rhodium: $1000.00<br />
		    </p>
		  </div>
		  
		  <%= link_to "New Coin", new_coin_path %>